.relative data-controller='dropdown'
  button data-action="dropdown#toggle click@window->dropdown#hide"
    = content
  div {
    data-dropdown-target="menu"
    class="hidden transition transform origin-top-right absolute right-0 flex flex-col bg-white overflow-hidden shadow-lg rounded-lg text-nowrap hover:*:bg-gray-200 *:px-4 *:py-1 *:text-sm text-main"
    data-transition-enter-from="opacity-0 scale-95"
    data-transition-enter-to="opacity-100 scale-100"
    data-transition-leave-from="opacity-100 scale-100"
    data-transition-leave-to="opacity-0 scale-95"
  }
    - items.each do |item|
      = item
